*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.four{
    display: flex;
    justify-content: flex-end;
   
    }
.back1{
    position: relative;
    height: 13rem;
    z-index: -1;
   }
.img1{
    position: absolute;
    height: 13rem;
   }
.five{
    display: flex;
    justify-content: flex-start;
   }
.img2{
    position: absolute;
    height: 16rem;
   }
.back2{
    position: relative;
    height: 16rem;
    z-index: -1;
    }
    a{
        text-decoration: none;
        color: black;
    }
@media screen and (min-width:300px) {

    header h2{
        padding-top: 0.5vh;
        text-align: center;
    }
    .one{
        display: flex;
        flex-direction: column;
    }
    .one span{
        padding-top: 1vh;
        display: flex;
        justify-content: center;
    }
    header img{
        height: 1.25rem;
    }
    .one ul{
        padding-top: 1vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: 60%;
        font-weight: lighter;
        font-size: 0.625rem;
        margin: 0 auto;
    }
   .two div h2{
    padding-left: 1.3vh;
    color: #5a5a5a;
   }
   .two div h5{
    padding-top: 0.5vh;
    padding-left: 1.3vh;
    font-weight: lighter;
   }
   .two div button {
    margin-left: 1vh;
    margin-top: 1vh;
   }
   .buttons{
    background-color: #2596be;
    color: white;
    border-radius: 2vh;
    font-size: 0.5rem;
    font-weight: bolder;
    padding: 1vh;
    width: 40%;
    border: none;
   }
   .three div{
    display: flex;
    flex-direction: row;
    align-items: center;
   }
   .three{
    margin-left: 1vh;
   }
   .three div p{
    color: #5a5a5a;
    font-weight: lighter;
    font-size: 0.5rem;
    padding-left: 1vh;
   }
   .three div p br{
    display: none;
   }
   /* section two*/
    .six{
    margin-left: 1vh;
    }
    .six h4{
    padding-top: 1vh;
    }
    .six h2{
    margin-top: 1vh;
    }
    .six p{
    margin-top: 2vh;
    }
    .six button{
       display: grid;
       justify-self: center;
       justify-content: center;
        margin-top: 1.5vh;
    }
    /* section three*/
    .n h3{
        text-align: center;
        margin-top: 4vh;
    }
    .n h5{
        text-align: center;
        margin: 3vh 1vh;
    }
    .o{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 90%;
    }
    .p,.s,.r{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }
    .p div img{
        height: 50px;
        padding-right: 2vh;
       /* margin-bottom: 3.5vh;*/
    }
    .r div img{
        height: 5.625rem;
        padding-right: 2vh;
        /*margin-bottom: -1vh;*/
    }
    .s div img{
        height: 5rem;
        padding-right: 2vh;
       /* margin-bottom: -3vh;*/
    }
    .q{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: lighter;
    }
    /* section four*/
    main h2{
        text-align: center;
        color: #5a5a5a;
        margin-top: 4vh;
    }
    main h4{
        text-align: center;
        margin-top: 1vh;
    }
    .t{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .u{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vh;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 0.8vh 0;
        width: 90%;
    }
    .u img{
        height: 4.5rem;
    }
    .u p{
        color: brown;
    }
    .v{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 3vh;
        width: 80%;
        margin: auto;
    }
    .u .v h4{
        font-size: 0.9rem;
    }
    .v button{
        background-color: green;
        border-radius: 1rem;
        color: white;
        font-size: 0.5rem;
        width: 15vh;
        padding: 0.5rem;
        margin: 0 0.2vh;
        text-transform: uppercase;
        
    }
    .u:hover{
        background-color: cadetblue;
        color: white;
    }
    .v button:hover{
        background-color: white;
        color: black;
    }
    .g{
        margin-top: 2vh;
        display: flex;
        justify-content: center;
    }
    .g button{
        font-size: 0.8rem;
    }
    /* section five */
    .k{
        padding: 2vh;

    }
    .k h2{
        text-align: center;
    }
    .k p{
        margin-top: 1vh;
        text-align: center;
    }
    .h{
        margin: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .h input{
        width: 80%;
        padding: 1vh;
        border-radius: 1rem;
        outline: none;  

    }
    .h button{
        margin-top: 2vh;
        border-radius: 1.1rem;
        width: 50%;
        background-color: cadetblue;
        padding: 0.5rem;
        color: white;
    }
    .onee{
        background: linear-gradient(to bottom, #fefefe, #2596be);
        padding: 3vh 0;
    }
    .w img{
        height: 1.25rem;
    }
    .j{
        font-size: 0.8125rem;
        text-align: center;
       
    }
   .eight{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2vh;
    }
    .x{
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .w{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .x ul{
        list-style: none;
    }
    .x ul li{
        font-size: 0.75rem;
    }
}
@media screen and (min-width: 700px){
    .one{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-weight: lighter;
        align-items: center;
    }
    .one span{
        width: 25%;
        font-size: 0.875rem;
    }
    .one ul{
        width: 75%;
    }
    .one span img{
        display: none;
    }
    .two{
        padding-top: 1rem;
        margin-left: 2.7rem;
    }
    .two div h2{
        text-align: start;
    }
    .buttons{
        width: 15%;
    }
    .three{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0.5rem;
    }
    .three div p{
        font-size: 0.9rem;
        font-weight: lighter;
    }
    .fourr{
        padding: 1.5vh 0;
    }
    .img1, .back1{
        height: 18.75rem;
        width: 21.9rem;
    }
    /* section two*/
   .img2{
        height: 23.75rem;
    }
    .back2{
        height: 21.875rem; 
    }
    /*section three*/
    .o{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      
        margin-top: 1vh;
    }
    .p,.r,.s{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
        font-size: 0.7rem;
    }
    .r div img{
        height: 2.7rem;
        width: 60%;
        padding-bottom: 0.5vh;
    }
    .l{
        background: url('./images/foodBack3.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 45vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*section four*/
    .threee h2{
       /* margin-top: -12vh;*/
       /* padding-top: 5vh;*/
    }
    .threee h4{
        padding-bottom: 2vh;
    }
    .t{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        margin: auto;
    }
    .g button{
        width: 40%;
        font-size: 0.9rem;
    }
    /*section five*/
    footer{
        margin-top: 5vh;
    }
    .nine{
        text-align: center;
    }
    .eight{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .x h4{
        color: white;
    }
    .j h2 span{
        color: white;
    }
    .j p{
        padding-top: 1vh;
    }
}
@media screen and (min-width:1200px) {
/* section one*/
    header{
        display: grid;
        grid-template-columns: 60% 40%;
    }
    /*.ss{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }*/
    .rr{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 125%;
        padding-top: 4vh;
    }
    .one{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
     .one ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
     }
     .one ul li p{
        padding: 0 0.5rem;
        font-size: 0.8rem;   
    }
    .one span img{
        height: 1rem;
        display: block;
        padding-top: 0.2rem;
    }  
    .two{
        padding-left: 1.8rem;
        padding-top: 12vh;
    } 
    .two div h2{
        font-size: 2.5rem;
        text-align: start;
    }
    .two div h5 {
        padding-top: 2vh;
    }
    .two div button{
        margin-top: 4vh;
        width: 20%;
        font-size: 0.8rem;
    }
    .three{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 15vh;
    }
    /*.ss{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }*/
    .img1{
        height: 30rem;
        width: 34rem;
    }
    .back1{
        height: 30rem;
        width: 34rem;
    }
    /* section two */
    article{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .img2{
        height: 35rem;
        width: 38rem;
        padding: 3vh;
    }
    .back2{
        height: 35rem;
        width: 30rem;
    }
    .six h4{
        padding-top: 15vh;
    }
    .six h2{
        padding-top: 6vh;
        
    }
    .six p{
        padding-top: 4vh;
        width: 75%;
    }
    .six button{
        margin-top: 6vh;
        font-size: 0.8rem;
    }
    .buttons{
        padding: 2vh;
        width: 30%;
    }
    /* section three*/
   /* .l{
        background: url('./images/foodBack3.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }*/
    .l{
        height: 80vh;
        background-size: cover;
       width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .o{
        margin-top: 14vh;
    }
    /* section 4 */
    .t{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 0.5rem;
        padding: 5vh 0;
    }
    .v button{
        align-self: center;
    }
    main{
        padding-bottom: 35vh;
    }
    /* section five*/
    .k h2{
        padding-top: 5vh;  
    }
    .j p{
        color: white;
    }
    .j{
        padding-top: 2.8vh;
    }
    .x ul{ 
        color: white;
    }
    footer{
        position: relative;
        display: grid;
    }
    .k{
        border: 3px solid black;
        width: 62.6%;
        height: 15rem;
        margin: auto;
        border-radius: 3rem;
        background-color: white;
        position: absolute;
        margin-top: -17vh;
        justify-self: center;
        background-image: url(./images/foodBacklast.png);
        background-repeat: no-repeat;
        background-size: 798px 268px;
       /*background-size: cover;*/
    }
    .h{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 2px solid black;
        border-radius: 2rem;
        width: 52%;
        height: 45px;
        margin: 5vh auto;
    }
    .h input{
        width: 80%;
        outline: none;
        padding: 1vh;
        border: none;
    }
    .h button{
        width: 25%;
        outline: none;
        margin-bottom: 2vh;
        border: none;
    }
    .onee{
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 18vh 12vh 5vh 17vh;
        margin-top: 8vh;
    }
}
